.input-wrapper{
    .label {
        font-size: 16;
        color: #2d2d2d;
        margin: 0px;
        margin-bottom: 0px;
    }
    .input {
        border: 1px solid grey;
        padding: 12px;
        border-radius: 16px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
}

