body {
    background-color: #141414;
}
    .main-app-wrapper{
        display: flex;
        flex-direction: column;
        background-color: #141414;
        height: 100vh;
        
        .content-wrapper{
            flex: 1;
            max-width: 1400px;
            width: 100%;
            margin: auto;
            flex: 1;
        }
        
    }


