.button {
    padding: 12px;
    font-size: 16px;
    background-color:#BE1E2D;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-weight: 800px;
    cursor: pointer;

}