.wrapper {
    width: calc( 20% - 10px);
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 5px 6px 14px rgb(56, 56, 56);
    background-color:#141414;
    object-fit: contain;
    border-radius: 9px;
    .image-thumb{
        max-width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .content-detail{
        padding: 16px;
        .tittle-film {
            margin: 0px;
            font-size: 16px;
            color: white;
            font-weight: bold;
        }
        .rate-wrap {
            display: flex;
            align-items: center;
            margin-right: 10;
            .rating {
                align-items: center;
                text-align: center;
                margin-left: 5px;
                margin-top: 10px;
                font-size: 12px;
                color: white;
                
            }
        }
    }
}