.header {
    display: flex;
    justify-content: space-between;
    padding:  20px 40px;
    background-color: rgb(10, 10, 10);
    .logo-app {
        width: 10vh;
        margin: 0px;
        
    }

    .menu-item{
        font-size: 18px;
        color: white;
        text-decoration: underline;
        cursor: pointer;
        margin: 0px;
    }
}